# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Usuario\Documents\universidad\ieti\2.3-jpa-mongodb-master\2.3-jpa-mongodb-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
